body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2; 
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    font-size: 2.3em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
}


p {
    margin: 0 0 1.5em 0;
}

img {
    max-width: 100%;
    height: auto;
}

Estilos de cabeceraCSS
#main-header {
    background: #333;
    color: white;
    height: 80px;
}	
#main-header a {
    color: white;
}

/*
* Logo
*/
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}


/*
* Navegación
*/
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}

#main-header {
    background: #151515;
    color: white;
    height: 80px;
}	
#main-header a {
    color: white;
}

/*
* Logo
*/
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}


/*
* Navegación
*/
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}



#main-content {
    background-image: url("../img/fondopajarito.jpg");
    max-width: 100%;
    height: 100%;
    margin: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

#main-content header,
#main-content .content {
    padding: 40px;
}         

#main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #151515;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
#main-footer p {
    margin: 0;
}

#main-footer a {
    color: white;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #4594d0;
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.boton-personalizado {
    background-color: transparent;
    color: #4594d0!important;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    padding: 6px 10px;

}
.boton-personalizado:hover {
    background-color: #4594d0!important;
    color: #f4f4f4!important;
    text-decoration: none;
    border-radius: 2px;
    padding: 6px 10px;

}

input[type=text],[type=password] {
    width: 25%;
    padding: 10px 20px;
    margin: 4px 0;
    box-sizing: border-box;
}

main > header {
    background-color: #02223a;
}

h1 {
    color:#003366;
    font-size: 30px;
    font-size:3rem;
    -webkit-column-span:all;
    -moz-column-span:all;
    column-span:all;
}

a {
    text-decoration: none;
    color:#036;
}

#galeria {
    margin: 1rem auto;
    width:100%;
    max-width:960px;
    padding:0 20px 20px;
    box-sizing: border-box;
    column-count: 3;

    /* Espacio entre columnas */
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;

    /* Filete entre columnas */
    /*-moz-column-rule: 1px solid #bbb;
    -webkit-column-rule: 1px solid #bbb;
    column-rule: 1px solid #bbb;*/


}

#galeria header {
    -webkit-column-span:all;
    column-span:all;
}

article {
    background:#fff;
    border-radius:5px;
    border:1px solid #ccc;
    margin:0 0 20px 0;
    text-align: center;
    max-width: 100%;
    filter: opacity(70%);

    /*Evitamos que se corte al cambiar de columna*/
    break-inside: avoid;
    page-break-inside: avoid;         

}

article img {
    width:100%;
}

article:hover {
    transition: .5s ease;
    filter: opacity(100%);
}

figure {
    padding:1rem;
    box-sizing: border-box;
}


/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) { 
    #galeria {
        columns:2;
    }

}

/* Móviles en vertical */

@media (max-width: 480px) {
    #galeria {
        columns: 1;
    }
}

.select-css {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}


.textarea {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url(''),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.textarea::-ms-expand {
    display: none;
}
.textarea:hover {
    border-color: #888;
}
.textarea:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.textarea option {
    font-weight:normal;
}

.select-css2 {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 200px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}